body{
  text-transform: uppercase;
  font-family: "PT Sans","Arial" sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: 400;
  background-color: #f2f2f2;
}
.container-fluid {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
}

.hotels-fluid {
  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;
}

.hotels-item {
  margin-left: 6%;
  margin-right: 6%;
}

.hotels-img {
  float: left;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hotels-info {
  float: left;
  width:258px;
  min-height: 94px;
}
.hotels-title {
  margin: 0;
  padding: 0;
  padding-top: 27.5px;
  padding-bottom: 12px;
}
.stars-and-rating {
  float: right;
  position: relative;
  margin-top: 30px;
  text-align: right; 
}
.hotels-more {
  float:left;
  width: 110px;
}
.hotels-reservation {
  float: right;
  width: 142px;
}
.btn {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
  text-align: center;
  height: 27px;
}
.btn-more {

  width: auto;
  margin-right: 3px;
  margin-top: 12px;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 14px;
  line-height: 27px;
}

.btn-more:hover {
  background-color: #669ec0;
  color: #ffffff;
}
.btn-more:active {
  background-color: #5496bd;
  color: #88b6d1;
}
.btn-reservation {
  background-color: #766357;
  margin-right: 3px;
  margin-top: 12px;
}

.btn-reservation:hover {
  background-color: #604e43;
  color: #ffffff;
}

.btn-reservation:active {
  background-color: #503e33;
  color: #857871;
}

.stars {
  display: block
  text-align: right;
}
.stars span {
  color: #81b3d2;
}
.btn-rating {
  display: block;
  width: 110px;
  height: 27px;
  text-align: center;
  line-height: 27px;
  background-color: #f2f2f2;
  color: #666666;
  margin-top: 43px;

}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-navigation {
  float: left;
  width: 100%;
  background-color: #ffffff;
  position: relative;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;

}

.main-navigation li {
  display: inline-block;
  text-align: left;
  font-size: 14px;
  line-height: 26px;
  vertical-align: top;
  width: 20%;
  padding-top: 16px;
  padding-bottom: 18px;

}
.main-navigation li:first-child {
  margin-left:6%;
}
.main-navigation li:last-child {
  text-align: right;
  margin-right: 6%;
}
.main-navigation li:nth-child(3) {
  text-align: right;
  margin-left: 8%;
}
.main-navigation ul a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;

}
.logo-menu {
  position: absolute;
  left:50%;
  top:0;
  margin-left: -69px;
  z-index: 5;
}

.intro{
  z-index: 2;
  width:100%;
  background-color: #7fb3d2;
  background-image: url("../img/index-intro-background-shape.jpg");
  background-size: 100% 100%;
  min-height: 508px;
  position: relative;
}
.welcome{
  position: absolute;
  left:50%;
  top:75px;
  margin-left: -128px;
}
.sedona{
  position: absolute;
  left:50%;
  top: 215px;
  margin-left: -229px;
}
.canyon{
  position: absolute;
  left: 50%;
  top: 348px;
  margin-left: -148px;
}

.index-description{
  min-height: 210px;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  border: 1px dashed black;
}

.index-description h1 {
  padding-top: 55px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}
.index-description p {
  text-align: center;
}
.fact-grey{
  text-align: center;
  background-color: #eeeeee;
  min-height: 256px;
  width: 33%;
}
.fact-grey b{
  display: block;
  margin-top: 50px;
  font-size: 21px;
  line-height: 21px;
  padding-left: 20%;
  padding-right: 20%;
}
.fact-grey p{
  padding-left: 20%;
  padding-right: 20%;

}
.fact-left{
  float:left;
  width:33%;
  min-height: 256px;
}
.fact-right {
  float: right;
  width:33%;
  min-height: 256px;
}
.fact-blue{
  width: 33%;
  vertical-align: top;
  text-align: center;
  background-color: #81b3d2;
  min-height: 256px;
  color: #ffffff;
}
.fact-blue b{
  display: block;
  margin-top: 50px;
  font-size: 21px;
  line-height: 21px;
}
.fact-img{
  width:67%;
}

.hotels-intro {
  z-index: 2;
  width:100%;
  background-color: #7f9ebe;
  background-image: url("../img/hotels-content-intro-background.jpg");
  background-size: 100% auto;
  max-height: 217px;
  position: relative;
  margin: 0;
}

section .block-left {
  float: left;
  max-height: 217px;
  width: 33%;
}
.block-left label {
  display: block;
}
/*---------------------------------*/
/*---------------------------------*/
/*---------------------------------*/
/* Стилизация фильтра на странице поиска*/
.filter-range {
  width: 330px;
  margin: 50px auto; /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
/*Конец стилизации фильтра*/
/*---------------------------------*/
/*---------------------------------*/
.block-sort {
  float: left;
  width: 100%;
  min-height: 86px;
  background-color: #ffffff;
}
.block-sort ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.block-sort ul li {
  display: inline-block;
  text-align: left;
  font-size: 12px;
  line-height: 19px;
  vertical-align: top;
  width: 10%;
  padding-top: 32px;
  padding-bottom: 36px;

}
/*---------------------------------*/
/*---------------------------------*/
/*---------------------------------*/
/* Начало подключения иконочного шрифта*/
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */
/*Конец подключения иконочного шрифта*/
/*---------------------------------*/
/*---------------------------------*/

/*---------------------------------*/
/*---------------------------------*/
/*---------------------------------*/
/* Начало подключения спрайта*/

.sprite {
    background-image: url("sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-ico-academy {
    width: 113px;
    height: 39px;
    background-position: -5px -5px;
}

.sprite-ico-academy-down {
    width: 113px;
    height: 39px;
    background-position: -5px -54px;
}

.sprite-ico-academy-hover {
    width: 113px;
    height: 39px;
    background-position: -5px -103px;
}

.sprite-ico-burger {
    width: 74px;
    height: 70px;
    background-position: -5px -152px;
}

.sprite-ico-gift {
    width: 64px;
    height: 76px;
    background-position: -5px -232px;
}

.sprite-ico-home {
    width: 75px;
    height: 72px;
    background-position: -5px -318px;
}
/*Конец подключения спрайта*/
/*---------------------------------*/
/*---------------------------------*/





/*Стилизация социальных кнопок*/
.btn-social{
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  background-color: #81b3d2;
  width: 46px;
  height: 46px;
  position: relative;
  text-align: center;
  margin-top: 36px;
}
.btn-social:hover{
  background-color: #669ec0;
}
.btn-social:active{
  background-color: #5496bd;
}
.btn-social span{
  font-size: 19px;
  line-height: 46px;
  color:#ffffff;
}
.btn-social span:active{
  color: #88b6d1;
}

/* Стилизация футера*/
.index-footer{
  background-color: rgba(254, 254, 254, 0.9);
  min-height: 120px;
}
.hotels-footer{
  background-color: rgba(254, 254, 254, 1);
  min-height: 120px;
}

.block-footer {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  margin-left: -4px;
  width:33.33%;
  text-align: center;
}
.block-footer:first-child {
  margin-left: 0;
}
.hash{
  display: block;
  padding-top: 48px;
  color: #000000;
  font-size: 21px;
  line-height: 29px;
  font-weight: 700;
}
.copyright {
  display: block;
  padding-top: 48px;
}
