body {
  font-family: 'PT Sans', 'Arial' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #000;
  background-color: #f2f2f2;
}

.container-fluid {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
}

.hotels-fluid {
  border-bottom: 1px solid #e5e5e5;
  background-color: #fefefe;
}

.hotels-item {
  margin-right: 6%;
  margin-left: 6%;
}

.hotels-img {
  float: left;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.hotels-info {
  float: left;
  width: 258px;
  min-height: 94px;
}

.hotels-title {
  margin: 0;
  padding: 0;
  padding-top: 27.5px;
  padding-bottom: 12px;
}

.stars-and-rating {
  position: relative;
  float: right;
  margin-top: 30px;
  text-align: right;
}

.hotels-more {
  float: left;
  width: 110px;
}

.hotels-reservation {
  float: right;
  width: 142px;
}

.btn {
  font-size: 14px;
  line-height: 27px;
  display: block;
  height: 27px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  background-color: #81b3d2;
}

.btn-more {
  font-size: 14px;
  line-height: 27px;
  width: auto;
  margin-top: 12px;
  margin-right: 3px;
  color: #fff;
  background-color: #81b3d2;
}

.btn-more:hover {
  color: #fff;
  background-color: #669ec0;
}

.btn-more:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.btn-reservation {
  margin-top: 12px;
  margin-right: 3px;
  background-color: #766357;
}

.btn-reservation:hover {
  color: #fff;
  background-color: #604e43;
}

.btn-reservation:active {
  color: #857871;
  background-color: #503e33;
}

.stars {
  display: block;
  text-align: right;
}

.stars span {
  color: #81b3d2;
}

.btn-rating {
  line-height: 27px;
  display: block;
  width: 110px;
  height: 27px;
  margin-top: 43px;
  text-align: center;
  color: #666;
  background-color: #f2f2f2;
}

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.main-navigation {
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;
}

.main-navigation ul {
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation li {
  font-size: 14px;
  line-height: 26px;
  display: inline-block;
  width: 20%;
  padding-top: 16px;
  padding-bottom: 18px;
  text-align: left;
  vertical-align: top;
}

.main-navigation li:first-child {
  margin-left: 6%;
}

.main-navigation li:last-child {
  margin-right: 6%;
  text-align: right;
}

.main-navigation li:nth-child(3) {
  margin-left: 8%;
  text-align: right;
}

.main-navigation ul a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.logo-menu {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.intro {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 508px;
  background-color: #7fb3d2;
  background-image: url('../img/index-intro-background-shape.jpg');
  background-size: 100% 100%;
}

.welcome {
  position: absolute;
  top: 75px;
  left: 50%;
  margin-left: -128px;
}

.sedona {
  position: absolute;
  top: 215px;
  left: 50%;
  margin-left: -229px;
}

.canyon {
  position: absolute;
  top: 348px;
  left: 50%;
  margin-left: -148px;
}

.index-description {
  min-height: 210px;
  margin: 0;
  padding: 0;
  border: 1px dashed black;
  background-color: #fff;
}

.index-description h1 {
  font-size: 21px;
  line-height: 26px;
  padding-top: 55px;
  text-align: center;
}

.index-description p {
  text-align: center;
}

.fact-grey {
  width: 33%;
  min-height: 256px;
  text-align: center;
  background-color: #eee;
}

.fact-grey b {
  font-size: 21px;
  line-height: 21px;
  display: block;
  margin-top: 50px;
  padding-right: 20%;
  padding-left: 20%;
}

.fact-grey p {
  padding-right: 20%;
  padding-left: 20%;
}

.fact-left {
  float: left;
  width: 33%;
  min-height: 256px;
}

.fact-right {
  float: right;
  width: 33%;
  min-height: 256px;
}

.fact-blue {
  width: 33%;
  min-height: 256px;
  text-align: center;
  vertical-align: top;
  color: #fff;
  background-color: #81b3d2;
}

.fact-blue b {
  font-size: 21px;
  line-height: 21px;
  display: block;
  margin-top: 50px;
}

.fact-img {
  width: 67%;
}

.hotels-intro {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 217px;
  margin: 0;
  background-color: #7f9ebe;
  background-image: url('../img/hotels-content-intro-background.jpg');
  background-size: 100% auto;
}

.block-left {
  margin-top: 27.5px;
  margin-left: 6%;
}

.block-left h2 {
  margin: 0;
  padding: 0;
}

section .block-left {
  float: left;
  width: 180px;
  min-height: 217px;
}

.block-left label {
  display: block;
}

.block-right {
  float: right;
  width: auto;
  margin-top: 27.5px;
  margin-right: 6%;
}

/* Стилизация фильтра на странице поиска*/

.filter-range {
  width: 330px;
  text-transform: uppercase;
  color: #fff;
}

.filter-range-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 9px;
}

.price-controls {
  font-size: 0;
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #fff;
  border-radius: 2px;
}

.price-controls::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  content: '';
  transform: translate(-50%, -50%);
  background: #fff;
}

.price-controls label {
  font-size: 14px;
  line-height: 38px;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
}

.price-controls .min-price, .price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  font: inherit;
  width: 50px;
  margin: 0;
  color: inherit;
  border: none;
  outline: none;
  background: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, .3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #fff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  font-size: 14px;
  line-height: 20px;
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  outline: none;
  background: transparent;
}

.btn-transparent:hover {
  color: #000;
  background: #fff;
}

/*Конец стилизации фильтра*/

.block-sort {
  min-height: 86px;
  margin-right: 6%;
  margin-left: 6%;
  background-color: #fff;
}

.search-title {
  float: left;
  width: 135px;
  margin-top: 28.5px;
  margin-right: 3%;
  margin-bottom: 33.5px;
}

.search-title span {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000;
}

.list-sort {
  float: left;
  width: 365px;
}

.arrow-sort {
  font-size: 23px;
  line-height: 20px;
  float: right;
  width: 100px;
  margin-top: 28.5px;
  text-align: right;
}

.arrow-sort-block {
  display: block;
}

.arrow-sort-block span {
  color: #81b3d2;
}

.list-sort ul {
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-sort ul li {
  font-size: 12px;
  line-height: 19px;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 36px;
  padding-left: 20px;
  text-align: left;
  vertical-align: top;
}

.list-sort ul li:first-child {
  padding-left: 0;
  border-bottom-style: none;
}

.list-sort ul li a {
  text-decoration: none;
  border-bottom: 1px dotted black;
}

.list-sort ul li:last-child {
  border-bottom-style: none;
}

/* Начало подключения иконочного шрифта*/

@font-face {
  font-family: 'symbols-sedona';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/symbols-sedona.woff') format('woff'),
         url('../fonts/symbols-sedona.woff2') format('woff2');
}

[class^='icon-']::before, [class*=' icon-']::before {
  font-family: 'symbols-sedona';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1em;
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  speak: none;
}

.icon-facebook::before {
  content: '\66';
}

/* "f" */

.icon-twitter::before {
  content: '\74';
}

/* "t" */

.icon-up-dir::before {
  content: '\25b2';
}

/* "▲" */

.icon-down-dir::before {
  content: '\25bc';
}

/* "▼" */

.icon-star::before {
  content: '\2605';
}

/* "★" */

.icon-check-off::before {
  content: '\2610';
}

/* "☐" */

.icon-check-on::before {
  content: '\2611';
}

/* "☑" */

.icon-calendar::before {
  content: '\e800';
}

/* "" */

.icon-plus::before {
  content: '\e801';
}

/* "" */

.icon-minus::before {
  content: '\e802';
}

/* "" */

.icon-youtube::before {
  content: '\f39e';
}

/* "" */

/*Конец подключения иконочного шрифта*/

/* Начало подключения спрайта*/

.sprite {
  display: block;
  background-image: url('sprite.png');
  background-repeat: no-repeat;
}

.sprite-ico-academy {
  width: 113px;
  height: 39px;
  background-position: -5px -5px;
}

.sprite-ico-academy-down {
  width: 113px;
  height: 39px;
  background-position: -5px -54px;
}

.sprite-ico-academy-hover {
  width: 113px;
  height: 39px;
  background-position: -5px -103px;
}

.sprite-ico-burger {
  width: 74px;
  height: 70px;
  background-position: -5px -152px;
}

.sprite-ico-gift {
  width: 64px;
  height: 76px;
  background-position: -5px -232px;
}

.sprite-ico-home {
  width: 75px;
  height: 72px;
  background-position: -5px -318px;
}

/*Конец подключения спрайта*/

/*Стилизация социальных кнопок*/

.btn-social {
  font-size: 0;
  position: relative;
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-top: 36px;
  text-align: center;
  vertical-align: top;
  background-color: #81b3d2;
}

.btn-social:hover {
  background-color: #669ec0;
}

.btn-social:active {
  background-color: #5496bd;
}

.btn-social span {
  font-size: 19px;
  line-height: 46px;
  color: #fff;
}

.btn-social span:active {
  color: #88b6d1;
}

/* Стилизация футера*/

.index-footer {
  min-height: 120px;
  background-color: rgba(254, 254, 254, .9);
}

.hotels-footer {
  min-height: 120px;
  background-color: rgba(254, 254, 254, 1);
}

.block-footer {
  display: inline-block;
  width: 33.33%;
  margin: auto;
  margin-left: -4px;
  text-align: center;
  vertical-align: middle;
}

.block-footer:first-child {
  margin-left: 0;
}

.hash {
  font-size: 21px;
  font-weight: 700;
  line-height: 29px;
  display: block;
  margin-top: 48px;
  color: #000;
}

.copyright {
  display: block;
  margin-top: 48px;
}
