body{
  text-transform: uppercase;
  font-family: "PT Sans","Arial" sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: normal;
  background-color: #f2f2f2;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.container-fluid{
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
}
.main-navigation{
  min-height: 56px;
  min-width: 768px;
  max-width: 1200px;
  margin-left: 6%;
  margin-right: 6%;
  background-color: #ffffff;
  color:#000000;
  position: relative;
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  width: 20%;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  vertical-align: top;
  text-align: right;
  box-sizing: border-box;
}

.main-navigation li a {
  display: block;
  padding: 25px 20px;

  color:#000000;
  text-decoration: none;
}
.logo-menu{
  position: absolute;
  top:0;
  left:50%;
}
/*---------------------------------*/
/*---------------------------------*/
/*---------------------------------*/
/* Начало подключения иконочного шрифта*/
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */
/*Конец подключения иконочного шрифта*/
/*---------------------------------*/
/*---------------------------------*/

/*Стилизация социальных кнопок*/
.btn-social{
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  background-color: #81b3d2;
  width: 46px;
  height: 46px;
  position: relative;
  text-align: center;
}
.btn-social:hover{
  background-color: #669ec0;
}
.btn-social:active{
  background-color: #5496bd;
}
.btn-social span{
  font-size: 19px;
  line-height: 46px;
  color:#ffffff;
}
.btn-social span:active{
  color: #88b6d1;
}

h1{
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
h2{
  color: #000000;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.index-footer{
  background-color: #fefefe;
  opacity: 0.9;
  min-height: 120px;
}
.block-footer {
  float: left;
  width:33%;
  box-sizing: border-box;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 36px;
}
.hash{
  color: #000000;
  font-size: 21px;
  line-height: 29px;
  font-weight: bold;
}
